<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Followers</title>
</head>
 <header>
   <h1>My followers</h1>  
 </header>

<body>
 
        <main>
            <!--Profiles -->
            <% profiles.forEach(function(profile){%>
            <h2><%= profile.name %></h2>
            <img src="/images/<%=profile.url %>" alt="">
            <article>
                <p><%=profile.age %></p>
                <p><%=profile.hobby%></p>
                <p><%=profile.gender %></p>
                <p><%=profile.location %></p>
            </article>
    
            <% }) %>
    
        </main>
        <!--Includes the footer -->
        <%- include('include/footer.ejs')%>
    
         <script src="./js/script.js"></script>
    </body>